*{
    font-family: "Helvetica Neue";
}
.job-card{
    margin-top:1%;
    height:10rem;
    width:20rem;
    padding:3%;
    background-color:white;
    border-radius:25px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    border: 1px solid gray;
    box-shadow: 1px;
}
.job-company{
    font-size: medium;
}
.job-title{
    font-size: large;
}
.job-summary{
    font-size: small;
}
.job-location{
    font-size:small;
    color:gray;
}
.job-link{
    line-height:1%;
    height:2rem;
    width:5rem;
    background-color:green;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:25px;
}
.job-link a {
    text-decoration: none;
    color: white;
  }
p{
    font-family: "Helvetica Neue";
    font-size: 24px;
    margin-top:2%;
    margin-bottom:2%;
}
.posted-by{
    font-size:small;
    color:gray;
}