.page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-card{
    height:15rem;
    width:30rem;
    background-color: white;
    border-radius: 25px;
    margin:3rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family:"Helvetica Neue";
    border: 1px solid gray;
    box-shadow: 1px;
}
.profile-card img{
    border:1px solid gray;
}

.already-connected a {
  background-color: gray;
  border: none;
  color: white;
  padding:5%;
  width:60%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2rem;
}

.not-connected a {
    background-color: #0a66c2;
    border: none;
    color: white;
    padding:10%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2rem;
    width:60%;
  }

  .profile--picture{
    border-radius:50%;
    height:10rem;
    width:10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    width:50%;
  }
  .profile--picture img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
  }
  .user-detail{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    width:50%;
    height:100%;
    font-family:"Helvetica Neue";
  }
  p{
    font-family: "Helvetica Neue";
    font-size:x-large;
    margin-top:2%;
    margin-bottom:2%;
  }