{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LinkedIn Profile</title>
    <link rel="stylesheet" href="{% static 'login/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'login/register' %}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-logo" href="#">LinkedIn</a>
        <ul class="navbar-menu">
        <li><a href={% url 'homepage' %}>Home</a></li>
        <li><a href={% url 'people' %}>People</a></li>
        <li><a href={% url 'jobs' %}>Jobs</a></li>
        <div class="dropdown">
            <button class="dropbtn">{{ user.first_name }}</button>
            <div class="dropdown-content">
                <a href={% url 'update' %}>Edit Profile</a>
                <a href={% url 'logout' %}>Logout</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </ul>
    </div>
</nav>
<div class="page-container">
    <div class="connections-container">
      </div>
    <div class="main-container">
        <div class="profile">
        <img src="{% static 'images/base_wall.jpeg' %}" class="im">
        <div class="profile-head">
            <div class="profile-picture">
                <img src="{% static 'images/average_user.jpeg' %}">
            </div>
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h3>{{ user.headline }}</h3>
            <p>{{ user.location }}</p>
            <p>{{ user.summary }}</p>
        </div>
        </div>

        <div class="details-container">
            <h2>Experience</h2>
            {% for experience in experiences %}
                <h4>{{ experience.job_title }}</h4>
                <p>{{ experience.company_name }}</p>
                <p>{{ experience.start_date }} - {{ experience.end_date }}</p>
                <p>{{ experience.description }}</p>
            {% empty %}
                <p>No experiences to display.</p>
            {% endfor %}
        </div>

        <div class="details-container">
            <h2>Education</h2>
            {% for education in educations %}
                <h4>{{ education.education_title }}</h4>
                <p>{{ education.insitution_name }}</p>
                <p>{{ education.start_date }} - {{ education.end_date }}</p>
                <p>Score: {{ education.score }} CGPA</p>
            {% empty %}
                <p>No education information available.</p>
            {% endfor %}
        </div>

        <div class="details-container">
            <h2>Skills</h2>
            <ul>
                {% for skill in skills %}
                    <li>{{ skill.skill_name }}</li>
                {% empty %}
                    <p>No skills to display.</p>
                {% endfor %}
            </ul>
        </div>

        <div class="details-container">
            <h2>Projects</h2>
            {% for project in user.projects %}
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
            {% empty %}
                <p>No projects to display.</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<!-- <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script> -->
</html>