{% load static %}
{% load friendshiptags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'login/list_user.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-logo" href="#">LinkedIn</a>
            <ul class="navbar-menu">
            <li><a href={% url 'homepage' %}>Home</a></li>
            <li><a href={% url 'people' %}>People</a></li>
            <li><a href={% url 'list_jobs' %}>Jobs</a></li>
            <div class="dropdown">
                <button class="dropbtn">{{ user.first_name }}</button>
                <div class="dropdown-content">
                    <a href={% url 'update' %}>Edit Profile</a>
                    <a href={% url 'logout' %}>Logout</a>
                  <a href={% url 'create_job_post' %}>Post Jobs</a>
                </div>
              </div>
            </ul>
        </div>
    </nav>
    
    <div class="page-container">
    {% for user in user_list %}
    <div class="profile-card">
        <div class="profile--picture">
            {% if user.wall.get_profile_url %}
                <img src="{{ user.wall.get_profile_url }}" />
            {% else %}
                <img src="{% static 'images/average_user.png' %}" />
            {% endif %}
        </div>
        <div class="user-detail">
        <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="headline">{{ user.headline }}</div>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="connect" />
        </form>     
    </div>   
    </div>
    {% endfor %}
</div>
</body>
</html>