{% load static %}
{% load friendshiptags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'login/list_user.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-logo" href="#">LinkedIn</a>
            <ul class="navbar-menu">
            <li><a href={% url 'homepage' %}>Home</a></li>
            <li><a href={% url 'people' %}>People</a></li>
            <li><a href={% url 'list_jobs' %}>Jobs</a></li>
            <div class="dropdown">
                <button class="dropbtn">{{ user.first_name }}</button>
                <div class="dropdown-content">
                    <a href={% url 'update' %}>Edit Profile</a>
                    <a href={% url 'connectedPeople' %}>Connections</a>
                  <a href={% url 'create_job_post' %}>Post Jobs</a>
                  <a href={% url 'logout' %}>Logout</a>
                  
                </div>
              </div>
            </ul>
        </div>
    </nav>
    
    <div class="page-container">
        {% if connected %}
        <p>Connections</p>
        {% else %}
        <p>All users</p>
        {% endif %}
    {% for user in user_list %}
    <div class="profile-card">
        <div class="profile--picture">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" />
            {% else %}
                <img src="{% static 'images/average_user.png' %}" />
            {% endif %}
        </div>
        <div class="user-detail">
        <strong><div class="name">{{ user.first_name }} {{ user.last_name }}</div></strong>
        <div class="headline">{{ user.headline }}</div>
        {% if user in friends %}
        <div class="already-connected">
            <a href="{% url 'connection' user.user_id %}">disconnect</a>
        </div>
        {% else %}
        <div class="not-connected">
            <a href="{% url 'connection' user.user_id %}">connect</a>
        </div>
        {% endif %}
    </div>
    </div>
    {% endfor %}
</div>
</body>
</html>