{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'login/list.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-logo" href="#">LinkedIn</a>
            <ul class="navbar-menu">
            <li><a href="#">Articles</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href={% url 'homepage' %}>{{first_name}}</a></li>
            </ul>
        </div>
    </nav>
    <div class="page-container">
    {% for user in user_list %}
    <div class="profile-card">
        <div class="profile--picture"><img src={{ user.profile_picture }}></div>
        <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="headline">{{ user.headline }}</div>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="connect" />
        </form>        
    </div>
    {% endfor %}
</div>
</body>
</html>