{% load static %}
{% load friendshiptags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'login/list.css' %}">
        <link rel="stylesheet" href="{% static 'login/jobs.css' %}">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-logo" href="#">LinkedIn</a>
            <ul class="navbar-menu">
            <li><a href={% url 'homepage' %}>Home</a></li>
            <li><a href={% url 'people' %}>People</a></li>
            <li><a href={% url 'list_jobs' %}>Jobs</a></li>
            <div class="dropdown">
                <button class="dropbtn">{{ user.first_name }}</button>
                <div class="dropdown-content">
                    <a href={% url 'update' %}>Edit Profile</a>
                    <a href={% url 'logout' %}>Logout</a>
                  <a href={% url 'create_job_post' %}>Post Jobs</a>
                </div>
              </div>
            </ul>
        </div>
    </nav>
    <div class="page-container">
        <p>Job portal</p>
    {% for job in job_list %}
    <div class="job-card">
        <div class="job-title">{{ job.job_title }}</div>
        <div class="job-company">{{ job.company_title }}</div>
        <div class="job-summary">{{ job.job_summary }}</div>
        <div class="job-location">{{job.location}}</div>
        <div class="posted-by"> Posted By: {{ job.posted_by.first_name }} {{ job.posted_by.last_name }}</div>
        <div class="job-link"><a href={{ job.apply_link }} target="_blank"> Apply </a></div>    
    </div>
    {% endfor %}
</div>
</body>
</html>