{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/register.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <img class="navbar-logo" href="{% static 'images/logo.png' %}">
            <ul class="navbar-menu">
            <li><a href="#">Articles</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href={% url 'homepage' %}>{{first_name}}</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <div class="container">
          <h2>Edit your profile</h2>
          <form method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="id_first_name">First Name:</label>
              {{ user_form.first_name }}
              {% for error in user_form.first_name.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_last_name">Last Name:</label>
              {{ user_form.last_name }}
              {% for error in user_form.last_name.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_date_of_birth">Date Of Birth</label>
              {{ user_form.date_of_birth }}
              {% for error in user_form.date_of_birth.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_profile_picture">Profile Picture</label>
                {{ user_form.profile_picture }}
              {% for error in user_form.profile_picture.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_wall">Profile wall</label>
              {{ user_form.wall }}
              {% for error in user_form.wall.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_headline">Headline</label>
              {{ user_form.headline }}
              {% for error in user_form.headline.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_summary">Summary</label>
              {{ user_form.summary }}
              {% for error in user_form.summary.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <div class="form-group">
              <label for="id_location">Location</label>
              {{ user_form.location }}
              {% for error in user_form.location.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          <button type="submit">Save</button>
          </form>
          </div>
          </div>
</body>
</html>